*{
	margin:0px;
	padding:0px;
	font-family: Helvetica Neue; 
}

/*titulo*/

div#titulo{
	width:100%;
	margin-top:100px;
}

p#header{
	text-align: center;
	font-size: 2.5em;
	color:white;
}

p#subheader{
	text-align: center;
	color:white;
	margin-top:20px;
	font-size: 1.3em;
}

header{
	margin:20px auto;
	width:1000px;
	height:230px;
	background-color: black;
}

div.contenedor{
	width: 200px;
	height: 230px;
	float:left;
	-webkit-transition: height .4s;
}

div#uno{
	background-color: rgb(0, 174, 255)  ;
}

div#dos{
	background-color: rgb(0, 255, 136);
}

div#tres{
	background-color: rgb(0, 255, 234);
}

div#cuatro{
	background-color: rgb(0, 255, 136)  ;
}

div#cinco{
	background-color:rgb(0, 174, 255) ;
}


img.icon{
	display: block;
	margin:50px auto;
	background-color: rgba(255,255,255,.100);
	width:40px;
	padding:20px;
	-webkit-border-radius: 50%;
	-webkit-box-shadow: 0px 0px 0px 30px rgba(255,255,255,0);
	-webkit-transition:box-shadow .4s;
}

p.href{
	font-size: 1.2em;
	color:black;
	text-align: center;
	padding-top:10px;
	opacity: .6;
	-webkit-transition: padding-top .4s;
}

div.contenedor:hover{
	height:250px;
}

div.contenedor:hover p.texto{
	padding-top: 30px;
	opacity: 1;
}

div.contenedor:hover img.icon{
	-webkit-box-shadow:0px 0px 0px 0px rgba(255,255,255,.6);
}




footer {
    width: 100%;
    height: 70px;
    background: #0e0d0d;
    border-top: 2px solid rgb(6, 150, 37);
    position: relative;
    bottom: 0;
	font-family: Helvetica Neue;
    color: white;
}

/*fondo*/

body{
	 background-image: url(../pictures/paisaje/lll.jpg); 
	 background-repeat: no-repeat;
	 background-size: 100%;
	 background-attachment: fixed;
}
/*boton*/
#inicio{
	color: black;
	font-family: Script MT;
	font-size: 22px;
}



/*registro*/

.login_container{
   
    margin: 150px;
    background-color: rgba(34, 9, 172, 0.397);
    width: 350px;
    padding: 3rem 0;
    box-shadow: 0 0 .9rem  #5499C7;
    
}
.login_top{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login_title{
    color: #00ff0d;
}
.login_title span{
    color: rgb(0, 225, 255);
}

.login_form{
    display: flex;
    flex-direction: column;
    padding: 1.5rem 2rem 0;
}

.contra{
    border-color: rgb(3, 255, 3);
    background-color: rgb(255, 255, 255);
}

.btn_submit{
    height: 2.5rem;
    border: none;
    background-color: rgba(3, 255, 3, 0.555);
    color: white;
    padding: .5px;
    margin: .5rem 0 .3rem;
}
#olvide{
	color:white;
}
#pase{
    color:white;
}

#colores {
    height: .5rem;
    margin: .5rem 0;
    padding: 1rem;
    transition: all .7s;
}

#colores{
    border-color: rgb(3, 255, 3);
    background-color: rgb(255, 255, 255);
}

#color[type=text], [type=password] {
    height: .5rem;
    margin: .5rem 0;
    padding: 1rem;
    transition: all .7s;
}

#color{
    border-color: rgb(3, 255, 3);
    background-color: rgb(255, 255, 255);
}